<head>
  <link href="/css/header.css" rel="stylesheet">
</head>

<body>

  <div class="header-container">
    <p>Logo</p>
    <p>
      <span data-bs-toggle="modal" data-bs-target="#myModal">Add Event</span>
      <span>|</span>
      <span>menu</span>
    </p>
  </div>
  <%- include('./eventModel') %>
</body>