<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/landingPage.css">
</head>

<body>
  <%- include('../partials/header') %>
    <div class="banner-container">
      <div>
        <p>FREE CONSULTATION</p>
        <h1>Start Designing Your Dream Career</h1>
        <p>During our 30-min. call, we'll uncover your boldest dreams and biggest barriers and determine whether we're a
          good fit to work together.</p>
        <!-- <button>BOOK A TIME WITH ME</button> -->
        <div class="btn-container">
          <button class="btn-signup" onclick="window.location.href = '/signup'">Create Account</button>
          <button class="btn-signin" onclick="window.location.href = '/signin'">Login</button>
        </div>
      </div>
    </div>
</body>

</html>